<template name="_preorder">
    <div class="row container">
      <div class="col s12 center-align">
        <a class="waves-effect waves-light btn-large green center-align" href="https://gumroad.com/l/kVLe" style="width:80%; font-size: 1.5rem;"><i class="mdi-action-add-shopping-cart"></i>Pre-order now for $10</a>
        <p class="light" style="display:block">You'll get a <strong>full refund</strong> at any point in the course if you don't like it; no questions asked.</p>
      </div>
    </div>
</template>
