<template name="home">
<main>
<!--  Parallax Section  -->
  <div class="parallax-container">
    <div class="parallax"><img src="images/meteor-shower-2015.jpg"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Prototyping with Meteor</h2>
      <p class="grey-text text-darken-3 lighten-3"><a href="https://www.meteor.com" target="_blank">Meteor</a> is a powerful Javascript App Platform that allows you to build amazing web and mobile apps, fast. One of the best ways to see that power in action, is in using it to prototype any app idea you've ever had.</p>
      <p class="grey-text text-darken-3 lighten-3">Get straight to the heart of whatever web or mobile app you've always wanted to build, and get there <strong>fast</strong>.</p>
    </div>
    <div class="row container">
      <h4 class="center-align">The Prototyping with Meteor Course</h4>
      <div class="col s12 m4">
       <h5>Real Apps</h5> 
       <p>We'll learn how to use Meteor to prototype ideas across a series of Web and Mobile Apps.</p>
      </div>
      <div class="col s12 m4">
        <h5>Full resources</h5>
        <p>I'll provide the full code-base, and walkthrough video sessions every step of the way.</p>
      </div>
      <div class="col s12 m4">
        <h5>Face-to-face support</h5>
        <p>We'll have Google Hangouts each week to go through any problems you have. I'm limiting round 1 to <strong>20 places</strong> to make sure there's enough time to help everyone.</p>
      </div>
    </div>
    {{>_preorder}}
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="/images/meteor-shower-2015.jpg"></div>
  </div>    
  <div class="section white">
    <div class="row container">
      <h2>The Course</h2> 
      <p class="grey-text text-darken-3 lighten-3">We'll develop the course together as we go, working on what you find interesting, but here's what I'm starting with:</p> 
    </div>
    <div class="row container">
      {{#each sections}}
        {{>_section}}
      {{/each}}
    </div>
    {{>_preorder}}
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="/images/meteor-shower-2015.jpg"></div>
  </div>    
  <div class="section white">
    <div class="row container">
      <h2>About Me</h2> 
      <p>I'm Adam Dawkins, I've been a Web Developer for 9 years, specialising in e-commerce. My current day job sees me spend most of my time on a contract for <a href="http://www.mintvelvet.co.uk" target="_blank">Mint Velvet</a>, a women's fashion brand; where I maintain several Meteor applications for internal use, and to run parts of their e-commerce site.</p>
      <h5>Why should I learn with you on this course?</h5>
      <ul class="collection">
        <li class="collection-item">You'll  want to learn how to use Meteor.js to prototype your ideas, fast</li>
        <li class="collection-item">You want to learn with someone passionate about teaching</li>
        <li class="collection-item">You want to spend $10</li>
        <li class="collection-item">You can get a full refund at any time</li>
      </ul>
    </div>
    {{>_preorder}}
    <div class="row container">
      <h5>Why shouldn't I learn with you on this course</h5>
      <ul class="collection">
        <li class="collection-item">You want to be learning from one of the best Meteor developers in the world.</li>
        <li class="collection-item">You need to start building production applications in Meteor immediately: (try <a href="https://bulletproofmeteor.com/" target="_blank">BulletProof Meteor</a>, I've got the Guru Package ($90))</li>
        <li class="collection-item">You want some seriously in-depth teaching on <a href="https://meteorjs.club/testing-meteorjs?__s=rjzzafspsfuykm5vsbbj&utm_campaign=day-5-of-5-how-to-organzie-your-meteor-js-app&utm_medium=email&utm_source=meteor-club" target="_blank">Testing with Meteor.js</a>: (This one's on my wishlist! ~$399)</li>
      </ul>
    </div>
  </div>
  </main> 
  <footer style="margin-top:20px; border-top: 1px solid #999;">
    <div class="container ">
      <p class="left">&copy; 2015 Adam Dawkins</p>
      <ul class="right">
        <li><i class="mdi-content-mail">adam@adamdawkins.co.uk</i></li>
      </ul>
    </div>
  </footer>
</template>
